@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aleo&display=swap');
:root {
    --color-dark: #094342; /*bakrund*/
    --color-light: #f5f5f5; /*text*/
    --color-hover: #5e3a8d;  /*hover på knapp*/
    --color-primary: #f0052c; /*nav-bar*/
    --color-secondary: #6883ba; /* knappar*/

    --font-sans:'PT Sans', sans-serif;
}
body {
    background-color: var(--color-dark);
    color: var(--color-light);

}
h1,h2,h3,h4{
font-family: 'Aleo', serif;
}

.hero {
    min-height: 60vh;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
    margin: 2rem 0;
    /* background: linear-gradient(180deg, var(--color-dark) 0%, var(--color-primary) 100%);  behöver bleed :( */
}

.hero-image {
    display: grid;
    place-content: center;
}

.hero-image > img {
    border-radius: 0.333rem;
} 

@media (max-width: 768px) {
    .hero {
        grid-template-columns: 1fr;
        row-gap: 2rem;
        grid-auto-flow: dense;
    }
    .hero-image {
        grid-row: 1;
    }
}

.p_header{
    margin-top: 0.4rem;
    font-size: 1.5rem;
}

.navbar {
    background-color: var(--color-primary);
    box-shadow: 0px 8px 16px 0px var(--color-shadow);
    display: block;
    padding: 0;
    font-size: 1.333rem;
    position: sticky;
    top: 0;
    text-transform: uppercase;
}

/* Eftersom navbaren nu innehåller en container så behöver vi flytta
 egenskaperna som flex till containern för att den ska fungera */
.navbar > .container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 1rem;
}

@media (max-width: 768px) {
    .navbar > .container {
        justify-content: space-between;
    }
}

/* klasser för att styla texten i navbar */
.brand {
    color: var(--color-light);
    text-decoration: none;
    width: 45px;
}

.material-icons {
    color: var(--color-light);
    font-size: 60px;
}

.nav-link:hover {
    text-decoration: none;
    color: var(--color-light);
}

/* text */
.lead {
    font-size: 1.5rem;
}

q {
    font-style: italic;
}

/* listan på dorgs, inneh¨åller flera cards */
.staff {
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
    column-gap: 1rem;

}

.card {
   min-width: 10rem;
 
}

.card > * {
    margin-top: 0.777rem;

}

.card-header > img {
    border-radius: 100%;
    object-fit: cover;
    width: 200px;
    height: 200px;
}

@media (max-width: 768px) {
    .staff {
        flex-direction: column;
        
    }
}

/* cta knappen */
.btn {
    border-radius: 0.333rem;
    color: var(--color-dark)
}
.btn:hover {
    background-color: var(--color-hover);
    color: var(--color-light);
}

/* sidfot så vi kan läsa länkarna */
footer a {
    color: var(--color-light);
}

footer a:hover {
    color: var(--color-secondary);
}